@import '../../../common/variables.scss';

.header {
  height: 60px;
  font-size: $font20;
  background-color: $header-bg;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  &_logo {
    line-height: 60px;
    display: inline-block;
    width: 30%;
    cursor: pointer;
    a {
      color: $white;
    }
  }
}
  .nav {
      display: inline-block;
      float: right;
      color: $white;
      padding: 12px;
    }
