
@import '../../../common/variables.scss';

.half-field {
  display: inline-block;
  width: 50%;
}

.full-field {
  width: 100%;
}
.pt {
  padding: 20px 15px 15px 15px;
  h1 {
    font-size: $font25;
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
  }
  &_addnew-btn {
    background: $green;
    color: $white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: $font25;
    font-weight: lighter;
    float: right;
    border: 0;
    cursor: pointer;
  }
}

.tablehead tr th, tablebody tr td {
  min-width: 150px;
  line-height: 1.5;
}
