@import './variables.scss';

html, body {
  margin: 0;
  overflow-x: hidden;
  background: $smoke;
}

body {
  padding-top: 60px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

button:hover {
  transform: scale(1.01);
  box-shadow: 0 0 5px $green;
}

.no-scroll {
  overflow: hidden !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0,0,0,.7);
}
.spreadsheet__table-prev {
  width:20% !important;
  margin-left: 18% !important;
}
.spreadsheet__table-next {
  width:20% !important;
}
.spreadsheet__search {
  display: none;
}
